
<div class="container mt-3">

  <div class="row col-md-12">
    <div class="card col-md-5 col-12 col-lg-5">
      <div class="card-body">
        <h5 class="card-title">Ipapi  <span class="badge badge-warning ml-5">PAGO</span></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{location?.city | uppercase}} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{location?.region_code | uppercase}} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{location?.latitude }} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{location?.longitude }} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{location?.ip }} </h6>
        <a href="https://ipapi.com/documentation" class="card-link">Documentação</a>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Preço: a partir de $8/Mês </h6>
        <h6 class="card-subtitle mb-2 text-muted">Requisições: a partir de 50000/Mês </h6>
      </div>
    </div>

    <div class="card col-md-5 col-12 col-lg-5">
      <div class="card-body">
        <h5 class="card-title">Locationiq  <span class="badge badge-warning ml-5">PAGO</span></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{position?.address?.town | uppercase}} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{position?.address?.state | uppercase }} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{position?.lat }} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{position?.lon }} </h6>
        <a href="https://locationiq.com/docs#reverse-geocoding" class="card-link">Documentação</a>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Preço: A partir de $49/Mês </h6>
        <h6 class="card-subtitle mb-2 text-muted">Requisições: A partir de 5000/dia Grátis</h6>
        <h6 class="card-subtitle mb-2 text-muted">Requisições: A partir de 10000/dia Pago</h6>
      </div>
    </div>

    <div class="card col-md-5 col-12 col-lg-5">
      <div class="card-body">
        <h5 class="card-title">BigDataCloud  <span class="badge badge-primary ml-5">Grátis*</span></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{freeReverseLocation?.city | uppercase}} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{freeReverseLocation?.principalSubdivision | uppercase}} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{freeReverseLocation?.latitude }} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{freeReverseLocation?.longitude }} </h6>
        <a href="https://www.bigdatacloud.com/geocoding-apis/free-reverse-geocode-to-city-api#%22" class="card-link">Documentação</a>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Preço: Serviço utilizado Grátis </h6>
        <h6 class="card-subtitle mb-2 text-muted">Contém planos pagos </h6>
      </div>
    </div>

    <div class="card col-md-5 col-12 col-lg-5">
      <div class="card-body">
        <h5 class="card-title">Ipify  <span class="badge badge-warning ml-5">PAGO</span></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{locationIp?.city | uppercase}} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{locationIp?.region | uppercase }} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{locationIp?.lat }} </h6>
        <h6 class="card-subtitle mb-2 text-muted">{{locationIp?.lng }} </h6>
        <a href="https://geo.ipify.org/docs" class="card-link">Documentação</a>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Preço: a partir de $15 por Mês </h6>
        <h6 class="card-subtitle mb-2 text-muted">Requisições: a partir de 10000 por Mês </h6>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="row col-md-12">
    <div class="card col-md-5 col-12 col-lg-5">
      <h5 class="card-title">Ipapi  <span class="badge badge-warning ml-5">PAGO</span></h5>
      <agm-map [zoom]="16" [latitude]="location?.latitude" [longitude]="location?.longitude">
        <agm-marker [latitude]="location?.latitude" [longitude]="location?.longitude"></agm-marker>
      </agm-map>
    </div>
    <div class="card col-md-5 col-12 col-lg-5">
      <h5 class="card-title">Locationiq  <span class="badge badge-warning ml-5">PAGO</span></h5>
      <agm-map [zoom]="16" [latitude]="position?.lat" [longitude]="position?.lon">
        <agm-marker [latitude]="position?.lat" [longitude]="position?.lon"></agm-marker>
      </agm-map>
    </div>
    <div class="card col-md-5 col-12 col-lg-5">
      <h5 class="card-title">BigDataCloud  <span class="badge badge-primary ml-5">Grátis*</span></h5>
      <agm-map [zoom]="16" [latitude]="freeReverseLocation?.latitude" [longitude]="freeReverseLocation?.longitude">
        <agm-marker [latitude]="freeReverseLocation?.latitude" [longitude]="freeReverseLocation?.longitude"></agm-marker>
      </agm-map>
    </div>
    <div class="card col-md-5 col-12 col-lg-5">
      <h5 class="card-title">Ipify  <span class="badge badge-warning ml-5">PAGO</span></h5>
      <agm-map [zoom]="16" [latitude]="locationIp?.lat" [longitude]="locationIp?.lng">
        <agm-marker [latitude]="locationIp?.lat" [longitude]="locationIp?.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
