

<div class="container mt-5">
  <h2>API: <a href="https://ipapi.com/">ipapi.com</a></h2>
  <table class="table table-striped table-dark ">
    <thead>
      <tr>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">IP</th>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{location?.city | uppercase}} </th>
        <th scope="row">{{location?.region_code }} </th>
        <td>{{location?.ip}}</td>
        <td>{{location?.latitude}}</td>
        <td>{{location?.longitude}}</td>
      </tr>

    </tbody>
  </table>

  <br>
  <h2>API: <a href="https://locationiq.com/">locationiq.com</a></h2>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">Cep</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{position?.address?.town | uppercase}}</th>
        <td>{{position?.address?.state | uppercase }}</td>
        <td>{{position?.address?.postcode}}</td>
        <td>{{position?.lat }}</td>
        <td>{{position?.lon }}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <h2>API: <a href="https://www.bigdatacloud.com/">www.bigdatacloud.com</a></h2>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{freeReverseLocation?.city | uppercase}}</th>
        <td>{{freeReverseLocation?.principalSubdivision | uppercase }}</td>
        <td>{{freeReverseLocation?.latitude }}</td>
        <td>{{freeReverseLocation?.longitude }}</td>
      </tr>
    </tbody>
  </table>

</div>
