@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
  font-size: 20px;
  margin: 0 auto;
}

agm-map {
  height: 400px;
  width: inherit;
}

@media screen and (max-width: 600px) {
  agm-map {
    height: 400px;
    width: 100vw;
  }
}

.card {
margin: 10px auto;
}
